
@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>
<label>Bar Code</label>
<a href="#" class="btn c-btn-yellow-2 c-btn-uppercase c-btn-bold c-btn-border-1x">
    <i class="fa fa-barcode"></i> Bar Code
</a>

<label>Debit Card</label>
<a href="#" class="btn c-btn-red-2 c-btn-uppercase c-btn-bold c-btn-border-1x">
    <i class="fa fa-credit-card-alt"></i> DÉBITO
</a>

<label>Credit Card</label>
<a href="#" class="btn c-btn-purple-2 c-btn-uppercase c-btn-bold c-btn-border-1x">
    <i class="fa fa-credit-card"></i>CRÉDITO
</a>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">